<div class="sort">
  <select id="selector" name="differentSort" class="differentSort">
    <option value="1">По рейтингу</option>
    <option value="2">По дате</option>
    <option value="3">По длине маршрута</option>
  </select>
</div>
<div class="routes">
  <div class="rout">
    <img src="https://chekogo.com/wp-content/uploads/2016/12/Castle-Valley.jpg" class="img" width="200px"
      height="200px">
    <h3>Маршрут1</h3>
    <button class="btn btnInfo" id="1">Перейти</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOTVEDH1zvBmZoeMBO7944rv3KoukZ5PIWDA&usqp=CAU"
      class="img" width="200px" height="200px">
    <h3>Маршрут2</h3>
    <button class="btn btnInfo" id="2">Перейти</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://livingasia.online/wp-content/uploads/2020/08/pastbishe-97-scaled.jpg" class="img" width="200px"
      height="200px">
    <h3>Маршрут3</h3>
    <button class="btn btnInfo" id="3">Перейти</button>
    <p>Рейтинг: </p>
  </div>
  <div class="rout">
    <img src="https://geographyofrussia.com/wp-content/uploads/2009/05/6122.jpg" class="img" width="200px"
      height="200px">
    <h3>Маршрут4</h3>
    <button class="btn btnInfo" id="4">Перейти</button>
    <p>Рейтинг: </p>
  </div>
   {{#each ways}}
  <div class="rout" id="{{this.id}}">
    <img src="https://geographyofrussia.com/wp-content/uploads/2009/05/6122.jpg" alt="sfgdsfghfd" class="img" width="200px"
      height="200px">
    <h3>{{this.title}}</h3>
    <button class="btn btnInfo" id="{{this.id}}">Перейти</button>
    <p>Рейтинг: </p>
  </div>
  {{/each}}
</div>
