<div class="mainConteiner">
      <div id="map" style="width: 600px; height: 400px"></div>
      <div class="inform">
        <h2>Название маршрута: </h2>
        <h3>Населенный пункт: </h3>
        <p>Длина маршрута: </p>
        <p>Автор: </p>
        <p>Тут надо вставить ссылку подробнее</p>
        <p>Оставить отзыв:</p>
        <textarea name="message"></textarea>

        <button id="btnComment" type="submit" name="submit_btn" value="Отправить">Отправить</button>
      </div>
    </div>
