{{#if way}}


<div class="mainConteiner" id="{{way.id}}">
  
  <div id="map" style="width: 600px; height: 400px"></div>

  <div class="inform">
    <h2>Название маршрута: {{way.title}} </h2>
    <h3>Населенный пункт: </h3>
    <p>Длина маршрута: </p>
    <p>Автор: {{way.user_id}}</p>
    <p style="max-width: 500px;">Тут надо вставить ссылку подробнее {{way.body}}</p>
    <p>Оставить отзыв: <select id="rating" name="selectorRating" class="selectorRating">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select></p>
    <textarea name="message"></textarea>

    <button id="btnComment" type="submit" name="submit_btn" value="Отправить">Отправить</button>


  </div>


</div>
<ul>
  <li>
    <div id="comment">Отзывы</div>
    <h3><b>UserN:</b></h3> <span>оценка</span>
    <p>Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст
      отзыва
      Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва
      Текст отзыва
    </p>
  </li>
  <li>
    <div id="comment">Отзывы</div>
    <h3><b>UserN:</b></h3> <span>оценка</span>
    <p>Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст
      отзыва
      Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва
      Текст отзыва
    </p>
  </li>
  <li>
    <div id="comment">Отзывы</div>
    <h3><b>UserN:</b></h3> <span>оценка</span>
    <p>Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст
      отзыва
      Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва
      Текст отзыва
    </p>
  </li>
  <li>
    <div id="comment">Отзывы</div>
    <h3><b>UserN:</b></h3> <span>оценка</span>
    <p>Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст отзыва Текст
      отзыва
      Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва Текст отзываТекст отзыва Текст отзыва Текст отзыва
      Текст отзыва
    </p>
  </li>
</ul>
{{/if}}
