<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/signUpForm.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Велопрогулка</title>
  <script defer src='/js/application.js'></script>
  <script defer src='/js/renderHTML.js'></script>
  <script defer src='/js/newWay.js'></script>
  <script defer src="https://api-maps.yandex.ru/2.1?apikey=54010e8c-e173-4ee1-aaa2-7318afc35f1f&lang=ru_RU"
    type="text/javascript"></script>
  <script defer  src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
  <script defer  src="/js/map.js" type="text/javascript"></script>

  {{#if isSignin}}
  <script defer src='/js/signin.js'></script>
  {{/if}}
  {{#if isSignup}}
  <script defer src='/js/signup.js'></script>
  {{/if}}
</head>

<body>
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          {{#if username}}
          <li class="pipe-separate t-light-green left"><a href="/user/{{userlogIn.id}}">Hi,{{username}}</a></li>
          <li class="pipe-separate t-light-green left"><a href="/user/signout">logOut</a></li>
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
          <li class="pipe-separate t-light-green left"><a href="/ways/new">Новый маршрут</a></li>
          {{else }}
          <li class="pipe-separate t-light-green left"><a href='/user/signup'>Registration</a></li>
          <li class="pipe-separate t-light-green left"><a href='/user/signin'>LogIn</a></li>
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
          {{/if}}
        </ul>
      </nav>
      <h1>Велопрогулки</h1>

  </header>
  {{{body}}}

{{!-- <script   src="https://api-maps.yandex.ru/2.1?apikey=54010e8c-e173-4ee1-aaa2-7318afc35f1f&lang=ru_RU"
    type="text/javascript"></script>
  <script  src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
  <script  src="/js/map.js" type="text/javascript"></script> --}}
</body>

</html>
