
<div class="mainConteiner" id="{{way.id}}">
  
  <div id="map" style="width: 600px; height: 400px"></div>
   <h2 style="text">Населенный пункт: </h3>
  <div class="inform">
    <h2>Название маршрута: {{way.title}} </h2>
    <h3>Населенный пункт: </h3>
    <p>Длина маршрута: </p>
    <p>Автор: {{way.user_id}}</p>
    <p style="max-width: 500px;">Тут надо вставить ссылку подробнее {{way.body}}</p>

    <button id="btnComment" type="submit" name="submit_btn" value="Отправить">Отправить</button>


  </div>
