.message{
  width:300px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(12, 3, 65, 0.06);
  height:60px;
  border: 1px solid black;
  font-size: 15px;
}
#btnComment{
  width: 300px;
}
#rating{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
