.message{
  width:350px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(12, 3, 65, 0.06);
  height:60px;
  border: 1px solid black;
  font-size: 15px;
}
#btnComment{
  border-radius: 15px;
  background: transparent;
  color: rgb(100, 98, 98);
  border: 1px solid black;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  width: 320px;
}
#rating{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}

.boxComment{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 15px;
  
}
.otziyv{
  margin-top: 20px;
  margin-left: 150px;
}
.footer-line{
  /* margin-left: 10px;
  margin-right: 10px; */
  border: none;
  background-color: rgb(5, 59, 95);
  height: 2px;
}
#comentList{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 120px;
}
.pshka{
font-size: 25px;
}

#ratingAll {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
