@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.routes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
.sort{
  display: flex;
  margin-left: 30px;
}
.rout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.differentSort{
  width: 140px;
height: 30px;
}
.btn {
width: 180px;
height: 60px;
cursor: pointer;
background: transparent;
border: 1px solid #000000;
outline: none;
transition: 1s ease-in-out;
}
svg {
position: absolute;
left: 0;
top: 0;
fill: none;
stroke: #fff;
stroke-dasharray: 150 480;
stroke-dashoffset: 150;
transition: 1s ease-in-out;
}
.btn:hover {
transition: 0.5s ease-in-out;
background: #5F8374;
}
.btn:hover svg {
stroke-dashoffset: -480;
}
.btn span {
color: white;
font-size: 18px;
font-weight: 100;
}


.mainConteiner{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding-top: 30px;
  padding-left: 20px;
}

.inform{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  }
